body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff8dc;
}

/* Header */
.headerContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.header {
  background-color: black;
  border-radius: 20px;
  width: 97%;
  height: 5.5rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
}

.logoArea {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  text-decoration: none;
}

.logo {
  border-radius: 7px;
  width: 40px;
}

.logoText {
  color: white;
  margin-left: 1.5rem;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.adminLinks {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  text-decoration: none;
}

.adminLinks li {
  list-style: none;
  color: white;
  margin-right: 1rem;
}

.adminLinks li:hover {
  color: red;
}

.adminLinks li:active {
  color: rgb(136, 255, 0);
}

/* Signup Section */

.signupSection,
.loginSection {
  margin-top: 6.5rem;
}

/* Upload Games Section */

.addGameSection {
  margin-top: 6.5rem;
  text-align: center;
}

.platformSection,
.networksSection,
.linksSection {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}

.gameOptions {
  display: flex;
}

/* Update Games Section */

.gameUpdateChoices {
  border-radius: 5px;
  margin: 0.25rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid black;
  color: white;
  background-color: black;
}

.gameUpdateChoices:hover {
  color: black;
  background-color: white;
}

/* Play Test Section */

.playGamesText,
.updateGameHeader,
.leaderboardSection {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 6.5rem;
}

.tabsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0.5em;
  background-color: red;
  color: white;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
}

/* Play Games Section */

.playGamesSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

.gameCard {
  border: solid black 1px;
  border-radius: 20px;
  max-width: 35rem;
  margin: 0.5rem;
  background-color: #003366;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameTitle {
  text-align: center;
  margin: 1rem 0;
}

.gameImg {
  width: 100%;
}

.gameDescription {
  margin: 0.75rem;
}

.gamePlatforms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.platform {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-basis: 180px; /* Adjust this value to represent the minimum width for your buttons */
  flex-grow: 0; /* Prevent the buttons from growing */
  flex-shrink: 0; /* Prevent the buttons from shrinking below the flex-basis */
  margin: 1rem 0;
}

.platformImg {
  width: 100%;
  max-width: 90%;
}

.feedbackForm {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  max-width: 10rem;
}

/* Admin Leaderboard */

.enterUsers {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.usernameInput,
.scoreInput {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 500px;
  align-self: center;
}

.addUserBtn {
  border-radius: 10px;
  font-size: 1.5rem;
  align-self: center;
  margin: 1rem 0;
  width: 70%;
}

.updateUsersBtn {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(136, 255, 0);
  color: black;
  padding: 0.5rem 1.25rem;
}

.updateUsersBtn:hover {
  background-color: rgb(79, 149, 0);
  color: white;
}

.userScore {
  font-size: 1.25rem;
}

/* .showUsers {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}

.userInfoInputs {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.usernameScore {
  display: flex;
  width: 100%;
} */

.showUsers,
.viewLeaderboard {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.userInfoInputs {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* creates 4 columns of equal width */
  gap: 1rem; /* spaces out the columns */
  align-items: center; /* aligns items vertically in the center */
  width: 100%;
  padding: 1rem 0;
}

.userInfoInputs:not(:last-child),
.usersInfo:not(:last-child) {
  border-bottom: 2px solid #ccc; /* Adds a border to the bottom of each user info except the last one */
}

.usernameScore h3,
.userInfoInputs button {
  min-width: 60px; /* prevents the grid items from becoming too narrow */
}

.oldScore {
  font-size: 1rem;
}

/* Add these to ensure each type of content has its own column */
.rankColumn {
  grid-column: 1 / 2;
}

.nameColumn {
  grid-column: 2 / 3;
}

.scoreColumn {
  grid-column: 3 / 4;
}

.deleteButtonColumn {
  grid-column: 4 / 5;
}

/* View Leaderboard */

.viewLeaderboard {
  background-color: white;
}

.usersInfo {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* spaces out the columns */
  align-items: center; /* aligns items vertically in the center */
  width: 100%;
  padding: 1rem 0;
}

.rank,
.username,
.score {
  text-align: center;
}

.headerRow {
  background-color: #f2f2f2;
}

.headerRow h3 {
  font-weight: bold;
}

/* Login section */

.loginSection {
  display: flex;
  justify-content: center;
}

.loginBtn,
.signupBtn {
  margin: 0;
  width: 100%;
}

.createAccountLink {
  font-size: 1.25rem;
}

/* Loading Icon */
.loadingIcon * {
  z-index: -1;
  margin: 0;
  padding: 0;
}

.loadingIcon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
}

/* Admin Leaderboard Media Query  */

@media screen and (max-width: 525px) {
  .usernameInput,
  .scoreInput {
    flex-direction: column;
  }

  .gameOptions * {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 800px) {
  .rank,
  .username,
  .score {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .rank,
  .username,
  .score {
    font-size: 1rem;
  }
}

/* Header MediaQuery */

@media screen and (max-width: 400px) {
  .adminLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
